.wordleBoxes {
    /* display: flex;
    flex-direction: row-reverse; */
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}

.box1 {
    order: 5;
}

.box2 {
    order: 4;
}

.box3 {
    order: 3;
}

.box4 {
    order: 2;
}

.box5 {
    order: 1;
}

.box6 {
    order: 6;
    grid-row: 2;
}

.box7 {
    order: 7;
    grid-row: 3;
}

.box8 {
    order: 8;
    grid-row: 3;
}

.box9 {
    order: 9;
    grid-row: 3;
}

.box10 {
    order: 10;
    grid-row: 3;
}

.box11 {
    order: 11;
    grid-row: 3;
}

.box12 {
    order: 12;
    grid-row: 4;
    grid-column: 5;
}

.box13 {
    order: 17;
    grid-row: 5;
}

.box14 {
    order: 16;
    grid-row: 5;
}

.box15 {
    order: 15;
    grid-row: 5;
}

.box16 {
    order: 14;
    grid-row: 5;
}

.box17 {
    order: 13;
    grid-row: 5;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn .1s forwards;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut .05s forwards;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

br {
    display: block;
    height: 8rem;
}