#keyboardContainer {
    margin-inline: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.react-simple-keyboard {
    width: min(100%, 400px) !important;
}

.simple-keyboard.myTheme1 {
    background-color: hsla(240, 52%, 4%, .3);
    border-radius: 10px 10px 0px 0px;
}

.simple-keyboard.myTheme1 .hg-button {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(240, 52%, 8%);
    color: hsl(0, 0%, 90%);

    border: 1px solid hsl(0, 0%, 100%, .1);
    transition: .2s ease;
}

.simple-keyboard.myTheme1 .hg-button:hover {
    background-color: hsl(240, 52%, 15%);

    transition: .2s ease;
}

.simple-keyboard.myTheme1 .hg-button:active {
    background-color: hsl(240, 52%, 20%);

    transition: .2s ease;
}