body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: hsl(240, 52%, 13%);
  color: hsl(0, 0%, 90%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fullScreen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
}

.container {
  width: min(90%, 1200px);

  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container:focus {
  outline: none;
}

.fullScreen:focus {
  outline: none;
}